@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,600;0,700;0,800;0,900;1,400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(14, 20, 49);
}

h1 {
  text-align: center;
  color: #f2f2f2;
  margin: 40px 0;
  font-variant: small-caps;
}

.container {
  font-family: 'Montserrat', sans-serif;
  max-width: 1140px;
  margin: 0 auto;
}

#list {
  width: 90%;
  margin: 0 auto;
  padding: 0;
  list-style-type: none;

}

.list-item {
  box-shadow: rgba(224, 224, 231, 0.25) 0px 6px 12px -2px, rgba(199, 192, 192, 0.3) 0px 3px 7px -3px;
  margin: 20px 0;
  padding: 1rem;
  background: linear-gradient(90deg, #0a74bb, #03306b);
  color: #f2f2f2;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.4;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  border-radius: 12px;
  position: relative;
}

form {
  width: 50%;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

input {
  width: 80%;
  padding: 0.65rem 1rem;
  border-radius: 4px;
  background: #6fafdab6;
  border: 0;
  font-size: 16px;
  color: #f2f2f2;
}

input:focus {
  outline: none;
}

span.title {
  color: rgb(116, 231, 116);
  font-weight: 800;
  font-weight: 600;
  text-transform: uppercase;
}

.special_number {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(-40%, -25%);
  background-color: #f2f2f2;
  font-weight: 800;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}