* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #f3f3f3;
}

.app {
	width: 90%;
	margin: 40px auto;
}

.app h1 {
	text-align: left;
	margin-bottom: 40px;
	text-transform: uppercase;
	color: rgb(168, 157, 157);
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-weight: 600;
}

.watch-wrapper {
	width: 100%;
	min-height: 500px;
	border-top: 2px solid rgb(157, 157, 157);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.watch-wrapper >div{
	border-bottom: 1px solid rgb(157, 157, 157);
	width: 100%;
	min-width: 400px;
	min-height: 200px;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
.W-image img{
	width: 120px;
	height: 160px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position-y: -20%;

}	