form{
    width: 450px;
    height: 250px;
    padding: 15px;
    background-color: #dedede;
    margin: 50px auto;
    border:1px solid black;
}
input{
    display: block;
    margin-top: 5px;
    padding: 5px 15px;
}

button {
    border:none;
    width: 100px;
    height: 40px;
    padding: 10px;
    margin-top: 40px;
    line-height: 2px;
    background-color: rgb(32, 29, 29);
    color:whitesmoke;
    font-weight: bold;
}
button:active{
    background-color: rgb(112, 103, 103);
    transform: translateY(2px);
}
.errBox{
    color:orangered;
    font-size: 12px;
    font-style: italic;
    font-weight: 600;
    transition: all 0.3s;
}