.main {
	margin-bottom: 15px;
}

.main label {
	margin: 0 0 3px 0;
	padding: 0;
	font-weight: bold;
	display: block;
}

.main select {
	display: block;
	box-sizing: border-box;
	border: 1px solid #ccc;
	margin: 0 0 5px;
	width: 100%;
	height: 30px;
	outline:none;
	transition: all 300ms ease-in-out;
}