.title {
  font-weight: 700;
  letter-spacing: -0.02em;
  color: #e7f21e;
  text-align: center;

  &__h1 {
    font-size: 2.25rem;
    margin-bottom: 1.5rem;
    margin-top: 2rem;
  }


  &__h2 {
    font-size: 1.875rem;
    margin-bottom: 1.25rem;
    margin-top: 1.5rem;
  }


  &__h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    margin-top: 1.25rem;
  }

  &__h4 {
    font-size: 1.25rem;
    margin-bottom: 0.75rem;
    margin-top: 1rem;
  }
}