*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.main {
	width: 100%;
	height: 100vh;
	background-image: url(https://images.unsplash.com/photo-1611848545515-39196c8e38f4?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80);
	background-size: cover;
	background-repeat: no-repeat;
	display:flex;
	justify-content:center;
	align-items:center;
	
}
.main_form{
	width: 450px;
	min-height: 400px;
	background-color: #6C6EE1;
	padding: 15px;
}