body {
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
}

.QuizCreator {
	display: flex;
	height: 100vh;
	justify-content: center;
	padding-top: 50px;
	flex-grow: 1;
	width: 100%;
	background: linear-gradient(270deg, #f0613c 0%, #f0783c 100%);
}

.QuizCreator>div {
	width: 50%;
	min-width: 600px;
	padding: 0 20px;
}

.QuizCreator h1 {
	text-align: center;
}

.QuizCreator form {
	border-radius: 5px;
	padding: 15px;
	background: #eee;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, .3);
}