@import "../sass/variables";

.List {
  list-style: none;
  width: 94%;
  margin: 0 auto;
  overflow-y: auto;
  flex-basis: 100%;
  scrollbar-width: thin;

  &-Item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 1.8;
    border-top: 1px solid #ccc;
    padding: 0.6rem 1rem 0.6rem 0.26rem;
  }
  &-DeleteButton {
    border-radius: 50%;
    color: #fff;
    background-color: #ccc;
    width: 25px;
    font-size: 12px;
    font-weight: 700;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    cursor: pointer;
    transition: 0.3s;
    &:hover {
      transform: scale(0.95);
      color: #ff0141;
      transition: 0.3s;
    }
  }
}
