body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.box {
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-left: 35px;

}
.box__element {
 text-align: center;
}
.anotherbox {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.anotherbox > div:first-child {
    margin-top: 150px;
    text-align: center;
}
.anotherbox__buttons {
    display: flex;
    justify-content: center;
    text-align: center;
    
}
.anotherbox__buttons button {
    margin: 0 15px;
}