.main {
	display: flex;
	height: 100vh;
	justify-content: center;
	padding-top: 150px;
	flex-grow: 1;
	width: 100%;
	background: linear-gradient(250deg, #55E6C1 0%, #58B19F 100%);
}

.main h1 {
	text-align: center;
	color: #2C3A47;
	font-size: 3em;
}