hr {
	height: 50px;
	margin-top: 25px;
}

button {
	border: 1px solid blue;
	font:inherit;
	cursor: pointer;
	padding: 8px;
	display: inline-block;
}

textarea {
	display: inline-block;
	margin: 15px;
}