.flex {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	background-color: rgb(31, 29, 29);
	color: #fff;
	width: 100%;
	height: 100px;
}

.flex h1 {
	width: 200px;
	letter-spacing: 5px;
	height: 50px;
	padding-left: 20px;
}

nav ul li {
	display: inline;
	margin-left: 10px;
	margin-right: 30px;
	font-size: 24px;
}

nav ul li a {
	text-decoration: none;
	color: lavender;
}

nav ul li a.curent {
	color: tomato !important;
}

.active {
	background-color: #fff;
}