body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Indie Flower', cursive;
	background-image: linear-gradient(120deg, #977e0c, #0e51be, #746009);
}

.box {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	color: tomato;
}

.box button {
	margin:20px;
	padding: 5px 30px;
	font-size: 1.5em;
	border: none;
	font-family: 'Indie Flower', cursive;
	border-radius: 5px;
	text-shadow: 2px 1px 5px rgb(168, 162, 162);
	background: linear-gradient(140deg, #ee5253 50%, #feca57 100%);
}

.box h1 {
	font-size: 3em;
	color: yellow;
}

.box h3 {
	font-size: 26px;
	margin: 5px;

}
.box span{
	width: 35px;
	font-size: 3em;
}