body {
  margin: 0;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 3rem;
}

.blocks {
  display: flex;
}

.blocks div {
  margin-right: 5rem;
}

.square {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
  animation: square 1000ms ease-out forwards;
}

.square.blue {
  background: cornflowerblue;
}

.square.orange {
  background: coral;
}


@keyframes square {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  50% {
    opacity: 1;
    transform: translateX(30px);
  }

  100% {
    transform: translateX(0);
  }
}