@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,600;0,700;0,800;0,900;1,400&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: rgb(241, 229, 229);
	background: linear-gradient(76deg, rgba(241, 229, 229, 1) 1%, rgba(162, 193, 180, 1) 90%);
	height: 100vh;
	overflow: hidden;
}

form {
	width: 40vw;
	padding: 1rem;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
	margin: 150px auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

form input {
	display: block;
	width: 100%;
	border-radius: 10px;
	padding: 10px;
	border: none;
	border: 1px solid grey;
}
form input:focus{
	outline: none;
}
label {
	display: block;
	text-align: left;
	font-weight: 600;
	margin: 5px 0px;
}

.form-control {
	margin-bottom: 20px;
	background: transparent;
	border: 2px solid #fefefe;
}

.errors{
	color: orangered;
}