* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'PressStart2P-Regular';
  src: url('../public/fonts/PressStart2P-Regular.ttf');
}

body {
  max-width: 1440px;
  margin: 0 auto;
  background-color: #EEE;
}

/* open only with title lessons */
#root {
  margin-top: 270px !important;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}