* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'PressStart2P-Regular';
  src: url('./fonts/PressStart2P-Regular.ttf');
}

body {
  max-width: 1440px;
  margin: 0 auto;
  background-color: #EEE;
  padding-left: 16px;
  padding-right: 16px;
}

/* open only with title lessons */
#root:has(.title__wrapper) {
  padding-top: 270px !important;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

ul {
  list-style: none;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

textarea {
  resize: none;
}

img {
  max-width: 100%;
  display: block;
}

p {
  line-height: 1.5;
  font-size: 18px;
  text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

table {
  border-collapse: collapse;
}