body {
	margin: 0;
	padding: 0;
	height: 100vh;
	background: #5758BB;
}

.main {
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 800px;
	flex-grow: 1;
}

.main>div {
	width: 100%;
	min-width: 600px;
	padding: 0 30px;
}

.main h1 {
	color: white;
	text-align: center;
}

.authForm {
	background: #eee;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, .5);
	border-radius: 5px;
	padding: 15px;
	width: 25%;
}